.top-label {
  font-size: 1rem;
  font-weight: 600;
}

.dropdown-container {
  padding: 0rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.dropdown-container > div {
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 10px;
}
